.otherVideos {
  // border: 2px solid;
  flex: 1;
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
}
.videocard {
  color: #1a73e8;
  height: 20vh;
  width: 40vw;
  border: 2px solid;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.manufacturers {
  //border: 2px solid;
  flex: 0.75;

  display: flex;
  overflow-x: auto;
  // justify-content: center;
  align-items: center;
}
.manufacturer {
  min-width: max-content;
  height: 4vh;
  // width: 15vw;
  border: 2px solid;
  margin-left: 5px;
  // min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background: #1a73e8;
  color: white;
}

.tags {
  font-size: smaller;
  // border: 2px solid;
  flex: 0.5;
  display: flex;
  overflow-x: auto;
  //justify-content: center;
  align-items: center;
  padding: 2px;
}
.tag {
  background: #e1e3e6;
  min-width: max-content;
  //height: 4vh;
  // width: 10vw;
  border: 1px solid #292a2b;
  margin-left: 5px;
  //min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50px;
}

.search {
  // border: 2px solid;
  flex: 1;
  display: flex;
  overflow-x: auto;
  justify-content: center;
  text-align: center;
}

.sarchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

*::-webkit-scrollbar {
  width: 20px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #1a73e875;
  width: 10px;
  ///border: 5px s;
  // border-radius: 20px;
}
.morembytes {
  flex: 4;
  display: flex;
  flex-direction: column;
}
